<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>compileIt</title>
    <base href="/" >
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Monoton|Oswald|Oxanium&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="navbar">
      <a id="logo" href="/">CompileIt!</a>
      <ul id="navbar-list">
        <li class="navbar-list-item"><a class="nav-link" href="/">Home</a></li>
        <li class="navbar-list-item"><a class = "nav-link" href="/saved">Saved</a></li>
        <li class="navbar-list-item"><a class = "nav-link" href="/about">About</a></li>
      </ul>
    </div>
